.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.active-tab {
    background-color: #575e70;
    /* secondary from config */
    color: #f8f9fa;
    /* surface-bright */
    border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #3525cd;
    /* primary */
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c7c4d8;
    border-radius: 10px;
}

/* Radius */
.rounded {
    border-radius: 0.125rem;
}
.rounded-lg {
    border-radius: 0.25rem;
}
.rounded-xl {
    border-radius: 0.5rem;
}
.rounded-full {
    border-radius: 0.75rem;
}

/* Typography */
.font-body-md {
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.font-label-md {
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.font-headline-lg {
    font-family: Inter;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.font-headline-md {
    font-family: Inter;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.font-body-lg {
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.font-label-sm {
    font-family: Inter;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.font-headline-lg-mobile {
    font-family: Inter;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
}